
<script src="~/Scripts/custom.js"></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div>
        <a class="navbar-brand" href="/Home">Personal Management System</a>
    </div>       
        <ul class="navbar-nav">
            @if (User.IsInRole("A") || User.IsInRole("U"))
            {       
                <li class="nav-item active"><a class="nav-link" href="/Department">Departments</a></li>
                <li class="nav-item"><a class="nav-link" href="/Personal">Personals</a></li>
                if (User.IsInRole("A"))
                {
                    <li class="nav-item"><a class="nav-link" href="/User">Users</a></li>
                }
                <li class="nav-item"><a class="nav-link" href="/Security/Logout">Log out</a></li>
            }
            else
            {
                <li class="nav-item"><a class="nav-link" href="/Security/Login">Log in</a></li>
            }            
                <li class="nav-item"><a class="nav-link" href="/Home/Contact">Contact</a></li>                                     
        </ul> 
    <span id="date_time" class="ml-auto" style="font-weight:500"></span>
            <script type="text/javascript">window.onload = date_time('date_time');</script>
    @if (User.IsInRole("A") || User.IsInRole("U"))
    {
        <div class="navbar-text ml-auto" style="font-weight:bold">Welcome, @HttpContext.Current.User.Identity.Name.ToUpperInvariant()</div>
    }        
</nav>
